package views
import (
  . "github.com/andrenormanlang/go-htmx-mySQL/common"
)
templ MakeAboutPage(links []Link, dropdowns map[string][]Link) {
  @MakeLayout("About", links, dropdowns, makeUnderConstruction(), []string{})
}