package views
import (
  . "github.com/andrenormanlang/go-htmx-mySQL/common"
)
templ MakeServicesPage(links []Link, dropdowns map[string][]Link) {
  @MakeLayout("Services", links, dropdowns, makeUnderConstruction(), []string{})
}